<!DOCTYPE html>
<html lang="en">
<head>

<style>
body {
background-image:url('/bg.jpg');
background-color: #cccccc; /* Used if the image is unavailable */

background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}

#submitButton
{
background-color: #324860;
border-radius: 0px;
text-decoration-color: aliceblue;
}


</style>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">


<meta name="salesforce-community" content="https://zsquad-developer-edition.ap15.force.com/elogin">

<meta name="salesforce-login-handler" content="onlogin">
<meta name="salesforce-logout-handler" content="onlogout">

<meta name="salesforce-mode" content="inline">
<meta name="salesforce-client-id" content="3MVG9G9pzCUSkzZtdokuRcICTn5yJCeH9JxgDtWWJkb4Fl.bD26y7YpuVzvDddLUtyPDacS8gulle19e4YNyM">
<meta name="salesforce-target" content="#loginForm">
<meta name="salesforce-redirect-uri" content="https://canvasappvf.herokuapp.com/callback">

<link href="https://phantom-developer-edition.ap15.force.com/customerportal/servlet/servlet.loginwidgetcontroller?type=css" rel="stylesheet" type="text/css" /> 
<script src="https://phantom-developer-edition.ap15.force.com/customerportal/servlet/servlet.loginwidgetcontroller?type=javascript_widget" async defer></script> 


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Embedded Login Site</title>

<link href="https://phantom-developer-edition.ap15.force.com/customerportal/servlet/servlet.loginwidgetcontroller?type=css" rel="stylesheet" type="text/css" /> 
     <script src="https://phantom-developer-edition.ap15.force.com/customerportal/servlet/servlet.loginwidgetcontroller?type=javascript_widget" async defer></script> 

</head>
<body>

<nav class="navbar navbar-light bg-light justify-content-between" style="background-color: transparent;">
<a class="navbar-brand">Embedded Login Site</a>
<form class="form-inline">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0 loginbutton" type="submit" id="submitButton">Login</button>
</form>
</nav>



<div id="loginForm" style="width:30%;margin-left: auto;
margin-right: auto;">

</div>
<div id="demo">
<button type="button" onclick="login()">Hit Token Endpoint</button>
</div>
 

<div>



</div>


<script src="/app.js"> </script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
